*{
    margin: 0%;
    padding: 0%;
}

.container{
    background-color: rgb(79, 77, 77);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;


}

.pic-size{
    width: 110px;
}
.menu{
    font-size: larger;
    color: white;
    display: flex;
    display: hover;
}
.list{
    margin-right: 20px;
    font-size: large;
    cursor: pointer;
}
.list:hover{
    color: cadetblue;
}
.main-container{
    height: 100vh;
 background-image: url("../images/background.png"), linear-gradient(45deg, rgb(4, 3, 3), rgb(63, 63, 57));
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.image{
    width: 300px;
}
.about{
    color: white;
}
.title{
    font-size: 80px;
    padding-bottom: 10px;
}
.btn{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(223, 24, 24);
    color: rgb(251, 249, 249);
    cursor: pointer;
}
.btn:hover{
    color: rgb(240, 16, 16);
    background-color: rgb(125, 116, 116);
}
.discription{
       font-size: 20px;
       margin-top: 10px;

}
.us{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.img-con{
    width: 250px;
}
.container2{
    display: flex;
    justify-content: space-around;
 align-items: center;
}
.icon{
    width: 60px;
    margin-bottom: 5px;
}
.service-container{
    
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.box1, .box2, .box3{
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(115, 102, 102, 0.561), 0 6px 20px 0 rgba(200, 189, 189, 0.579);
    padding: 10px;
    text-align: center;

}
.section-bg{
    color: white;
    height: 70vh;
 background-image: url("../images/background.png"), linear-gradient(45deg, rgb(4, 3, 3), rgb(63, 63, 57));
}
.we{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
